


h1 {

    color: white
}




#navbar {

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:rgb(252, 252, 252)
}


#test {
border: 3px black;
font-size: 125%;
text-align: center;
padding-top: 10px;

font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifnnnnnnnn;
}



.main {

background-image: url("images/robertbackground2.png");
background-size: cover;

}

#header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background: rgb(89, 9, 187);
box-shadow: 0 5px 15px rgba (0, 0, 0, 0.06);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}
#navbar {
display: flex;
align-items: center;
justify-content: center;
}

#navbar li { 
list-style: none;
padding: 0 20px;


}
#navbar li a {
text-decoration: none;
font-size: 16px;
font-weight: 600;
color:black;
transition: 0.3s ease;


}

.sidebysideimg {

width: auto;
height: 400px;
display: flex;
padding-right: 2px;
margin: 10px;
float: right

}

.list {

display: block;
float:left;
color: white
}




.introduction {

border: 3px black;
border-radius: 15px;
background-color: rgb(81, 7, 172);
padding-left: 12px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: flex;


gap: 10px; 

}




#navbar li a:hover,
#navbar li a.active {
color:blue;
background-color: #6d21b3;

}


.category {

text-align: center;
    
}